@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  
  --font-instrument: "Instrument Serif", serif;
  --font-array: "Inter", sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    color-scheme: light;
  }

  .dark {
    --background: #09090b;
    --foreground: #ffffff;
    color-scheme: dark;
  }

  body {
    
    @apply bg-[var(--background)] text-[var(--foreground)];
  }

  
}